src/main/resources/wsdl/opendq.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.provider.webservices.openmdm.infosolve.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.provider.webservices.openmdm.infosolve.com/" name="DataManagementWSImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.provider.webservices.openmdm.infosolve.com/" schemaLocation="schema.xsd"/>
</xsd:schema>
</types>
<message name="AddObject">
<part name="parameters" element="tns:AddObject"/>
</message>
<message name="AddObjectResponse">
<part name="parameters" element="tns:AddObjectResponse"/>
</message>
<message name="FindObjectMulti">
<part name="parameters" element="tns:FindObjectMulti"/>
</message>
<message name="FindObjectMultiResponse">
<part name="parameters" element="tns:FindObjectMultiResponse"/>
</message>
<message name="UpdateObject">
<part name="parameters" element="tns:UpdateObject"/>
</message>
<message name="UpdateObjectResponse">
<part name="parameters" element="tns:UpdateObjectResponse"/>
</message>
<message name="DeleteObject">
<part name="parameters" element="tns:DeleteObject"/>
</message>
<message name="DeleteObjectResponse">
<part name="parameters" element="tns:DeleteObjectResponse"/>
</message>
<message name="AddObjects">
<part name="parameters" element="tns:AddObjects"/>
</message>
<message name="AddObjectsResponse">
<part name="parameters" element="tns:AddObjectsResponse"/>
</message>
<message name="FindObject">
<part name="parameters" element="tns:FindObject"/>
</message>
<message name="FindObjectResponse">
<part name="parameters" element="tns:FindObjectResponse"/>
</message>
<portType name="DataManagementWSImpl">
<operation name="AddObject">
<input wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/AddObjectRequest" message="tns:AddObject"/>
<output wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/AddObjectResponse" message="tns:AddObjectResponse"/>
</operation>
<operation name="FindObjectMulti">
<input wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/FindObjectMultiRequest" message="tns:FindObjectMulti"/>
<output wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/FindObjectMultiResponse" message="tns:FindObjectMultiResponse"/>
</operation>
<operation name="UpdateObject">
<input wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/UpdateObjectRequest" message="tns:UpdateObject"/>
<output wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/UpdateObjectResponse" message="tns:UpdateObjectResponse"/>
</operation>
<operation name="DeleteObject">
<input wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/DeleteObjectRequest" message="tns:DeleteObject"/>
<output wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/DeleteObjectResponse" message="tns:DeleteObjectResponse"/>
</operation>
<operation name="AddObjects">
<input wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/AddObjectsRequest" message="tns:AddObjects"/>
<output wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/AddObjectsResponse" message="tns:AddObjectsResponse"/>
</operation>
<operation name="FindObject">
<input wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/FindObjectRequest" message="tns:FindObject"/>
<output wsam:Action="http://impl.provider.webservices.openmdm.infosolve.com/DataManagementWSImpl/FindObjectResponse" message="tns:FindObjectResponse"/>
</operation>
</portType>
<binding name="DataManagementWSImplPortBinding" type="tns:DataManagementWSImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FindObjectMulti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddObjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FindObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DataManagementWSImplService">
<port name="DataManagementWSImplPort" binding="tns:DataManagementWSImplPortBinding">
<soap:address location="http://localhost:8080/UI_Openmdm/data"/>
</port>
</service>
</definitions>